<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射当前xml所对应的接口-->
<mapper namespace="com.nocevarb.bravecon_interface.mapper.UsersMapper">
    <select id="queryByUserName" parameterType="UsersBean" resultType="UsersBean">
        SELECT
            user_id,username,password,real_name,department_id,position,phone,email,isdelete
        FROM
            tb_user
        <where>
            1=1 and isdelete=0
            <if test="email!=null and email!=''">
                and email=#{email}
            </if>
            <if test="password!=null and password!=''">
                and password=#{password}
            </if>
        </where>

    </select>
</mapper>